<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/topics">Topics</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/topics/<%= topic.id %>"><%= topic.title %></a></li>
  </ol>
</nav>
