<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
</head>

<body>

  <!-- Navigation -->
  <% include ./partials/navbar.ejs %>

  <!-- Page Content -->
  <main class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">About</h1>
      <p class="lead">Learn more about Bloccit.</p>
    </header>

    <!-- Page Features -->
    <section class="row text-center">

      <section class="col-lg-4">
        <h4 class="card-title">Who we are</h4>
        <p class="card-text">This is who we are</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">What we do</h4>
        <p class="card-text">This is what we do</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">Community</h4>
        <p class="card-text">See how we are involved in things</p>
      </section>

    </section>
    <!-- /.row -->

  </main>
  <!-- /.container -->

  <% include ./partials/baseScripts.ejs %>
</body>

</html>
